{% extends "blog/base.html" %}

{% block title %}My Blog{% endblock %}

{% block content %}
	<h1>My blog</h1>
	{% for post in page_obj %}
		<h2>
			<a href="{{post.get_absolute_url}}">
				{{ post.title }}
			</a>
		</h2>
		<p class="date">
			published {{ post.publosh }} by {{ post.author }}
		</p>

		{{ post.body|truncatewords:30|linebreaks }}
	{% endfor %}


	<div class="pagination">
		<span class="step-links">
			{% if page_obj.has_previous %}
				<a href="">Previous</a>
			{% endif %}

			<span>
				Page_obj {{page_obj.number}} of {{ page_obj.paginator.num_page_objs }}
			</span>

			{% if page_obj.has_next %}
				<a href="">
					Next
				</a>
			{% endif %}
		</span>
	</div>
	
	


{% endblock %}